messages
  display: block
  height: 100%

  .messages
    position: relative
    display: flex
    flex-flow: column nowrap
    justify-content: flex-end

    &-wrapper
      position: relative
      height: calc(100% - 70px)
      padding: 0 20px
      overflow: auto

  textarea.form-control,
  button[type='submit']
    width: 100% !important
    height: 50px

  .send-message-form
    position: relative
    bottom: 0
    padding: 20px 0
    width: 100%
    border-top: 1px #eaeaea solid

  .show-more
    text-align: center
    padding: 10px
    border-top: 1px #eaeaea solid
    border-bottom: 1px #eaeaea solid
    cursor: pointer

    &:hover
      text-decoration: none
      background: #f8f8f8

  .message-item
    position: relative
    width: 60%
    padding: 10px 20px
    background: #79c2e4
    border: 1px #4488a7 solid
    border-radius: 10px 10px 10px 10px
    margin: 20px 0

    .message-time
      float: right
      color: #808080
      font-size: 10px

    .message-body
      float: left

    &.myself
      align-self: flex-end
      text-align: right
      background: #66e4c7
      border: 1px #55b9a2 solid

      .message-time
        float: left

      .message-body
        float: right
